*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.img{
    background-image: url(IN-en-20251110-TRIFECTA-perspective_46e74acc-70aa-4691-988a-dbcf958149d1_large.jpg);
     height: 100vh; 
  width: 100%;
  filter: brightness(35%);
  margin: 0 auto;
  width: 90%;
}

#top{
    color: red;
}

#ready{
    margin-top: 30px;
}
.demo1{
    display: flex;
    justify-content:space-between;
}
#button{
    background-color: red;
    color: white
}
#lang{
    background-color: black;
    color: white;
}
.demo2{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: white;
    font-weight: 1500;

}

#show1{
    color: white;
    font-size: 30px;
    font-weight: bold;
    
    
}
form input{
    background-color: black;
    color: rgb(152, 13, 13);
    border: 1px solid rgb(215, 159, 159);
    padding: 5px;
    border-radius: 5px;
}
form button{
    background-color: red;
    color: white;
     border: 1px solid rgb(215, 159, 159);
    padding: 5px;
    border-radius: 5px;
}

.demo3{
    display: flex;
    justify-content: space-between;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 18px;
    margin-top: 40px;
    height: 250px;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    
}

.card {
    background: #111;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
    background-color: rgb(46, 73, 115);
    border-radius: 50px;
    
    
}

.card:hover {
    background: #222;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

.card p {
    color:wheat;
    font-size: 14px;
    line-height: 1.4;
}
#more{
    margin-left: 10%;
    margin-top:2%;
    color: rgb(244, 232, 232);
    
}

h3{
    color: white;
}
.page3 {
    color: white;
    margin: 0 auto;
    width: 80%;

}
.page3 div{
    border-radius: 20px;
}
#child1{
    border: 1px solid wheat;
    background-color: rgb(52, 42, 42);
    margin-top: 50px;
    height: 35px;
    padding: 8px;
    

}
#child2{
    border: 1px solid wheat;
  margin-top: 5px;
 background-color: rgb(52, 42, 42);
  height: 35px;
   padding: 8px;
}
#child3{
    border: 1px solid wheat;
    margin-top: 5px;
     background-color: rgb(52, 42, 42);
      height: 35px;
       padding: 8px;
}
#child4{
    border: 1px solid wheat;
    margin-top: 5px;
     background-color: rgb(52, 42, 42);
      height: 35px;
       padding: 8px;
}
#child5{
    border: 1px solid wheat;
    margin-top: 5px;
     background-color: rgb(52, 42, 42);
      height: 35px;
       padding: 8px;
}
.main{
    margin-top: 5%;
    gap: 50px;
}
.footer1{
    color: white;
    text-align: center;
    margin-top: 40px;
}
#footer3{
    color: white;
    padding: 20px;
}


#btn{
    background-color: red;
    color: white;
    border: 1px wheat;
    height: 30px;
}
.footer1 input{
background-color: #2c1e1e;
color: white;
border: 1px white;
width: 300px;
height: 30px;
}
#new{
    padding-left: 10%;
    margin-top: 20px;
    font-size: 30px;
}
.new1{
    margin: 0 auto;
    width: 80%;
    padding-top: 30px;


}