*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#nav1 {
    display: flex;
    gap: 40px;
    text-decoration: none;

}
#nav1 a{
    color: black;
    font-weight: bold;
    text-decoration: none;

}

.img1{
     display: flex;
     justify-content: space-between;
     gap: 30px;
}
.img img{
    width: 200px;
    height: auto;
}
.footer1{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;  
    border: 1px solid wheat;
    background-color: rgb(228, 215, 215);
   
}

